[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {path = "./vendored/discord.py"}
tortoise-orm = "*"
hondana = "*"

[dev-packages]

[requires]
python_version = "3.9"
